body{
	margin:0; /* By default, it is not 0, we set it to 0. */
}
/**/
.OuterDiv {
	
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center; */ /*This centers the div vertically.*/
    background: linear-gradient(to bottom right, lightblue, skyblue); /* Apply gradient background */
	padding-left:30px; /*Padding betwen background and top of the page.*/
	padding-right:30px;
}

.InnerDiv{
	background-color: white; /* Change as needed */
	padding: 0px;
	margin: 20px;
	height: fit-content;
}

.ContentDiv{
	padding-left: 80px;
	padding-right: 70px;
	padding-top: 40px;
	padding-bottom: 100px;
}
	
.HasShadow{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Apply shadow effect */

}

.HasRoundedCorners{
	border-radius: 10px 10px 10px 10px; /* top-left, top-right, bottom-right, bottom-left */
}

.StackVertically{
  display: flex;
  flex-direction: column;
}

.BackgroundEN{
  background-image: url('C:/Users/martin.tseng/OneDrive - ESDC EDSC/Projects/SABA notifications/main assets/background.jpg');
	background-size: 100% 100%;  /* This will make the image cover the entire div */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
}
.BackgroundFR{
	background-image: url('C:/Users/martin.tseng/OneDrive - ESDC EDSC/Projects/SABA notifications/main assets/background.jpg');
	background-size: 100% 100%; /* This will make the image cover the entire div */
	background-repeat: no-repeat; /* This will prevent the image from repeating */
}

.TextDiv{

}

.center {
    display: block; /* Ensures the image is treated as a block element */
    margin: 0 auto; /* Centers the image horizontally */
}

.zoom200{
	transform: scale(2);
}
.zoom75{
	transform: scale(0.75);
}